<h1>Payment Results</h1>

<dl>
  <dt>APR</dt>
  <dd><%= @apr.to_fs(:percentage, { :precision => 4 } ) %><dd>
  <dt>Number of years</dt>
  <dd><%= @year %> </dd>
  <dt>Principal</dt>
  <dd><%= @pv.to_fs(:currency, { :precision => 2 }) %></dd>
  <dt>Payment</dt>
  <dd><%= @payment_result.to_fs(:currency, { :precision => 2 }) %></dd>
</dl>

<a href="/payment/new">Calculate another payment</a>
