<form action = "/payment/results">
  <div>
    <label for="apr_input">APR</label>
    <input id="apr_input" type="text" name="user_apr" placeholder="E.g. 5.42">
  </div>
  <div>
    <label for="years_input">Number of years</label>
    <input id="years_input" type="text" name="user_years"   placeholder="How many years to repay?">
  </div>
  <div>
    <label for="principal_input">Principal</label>
    <input id="principal_input" type="text" name="user_pv"    placeholder="How much principal?">
  </div>
    <button>Calculate monthly payment</button>
  </div>
</form>
