<form action = "/random/results">
  <div>
    <label for="input">Enter a number</label>
  </div>
    <input id="input" type="text" name="number"  placeholder="What number do you want to take the square of?">
  <div>
    <button>Calculate square</button>
  </div>
</form>
