<form action = "/random/results">
  <div>
    <label for="min_input">Minimum</label>
    <input id="min_input" type="text" name="user_min"  placeholder="E.g. 1.5">
  </div>
  <div>
    <label for="max_input">Maximum</label>
    <input id="max_input" type="text" name="user_max"  placeholder="E.g. 4.5">
  </div>
    <button>Pick random number</button>
  </div>
</form>
