<form action = "/square_root/results">
  <div>
    <label for="input">Enter a number</label>
    <input id="input" type="text" name="number"  placeholder="What number do you want to take the square root of?">
    <div>
    <button>Calculate square root</button>
    </div>
  </div>
</form>
